@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes globales mínimos */
html, body, #root { height: 100%; }

@layer utilities {
  /* Gradiente animado para titulares y fondos */
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 8s ease infinite;
  }
}
@keyframes gradientShift {
  0% { background-position: 0% 50%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 0% 50%;}
}